body {
    background-image: url("img/fondo.png");
    background-size: cover;
    background-position: center center;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.noMostrar{
    display: none;
}

.container {
    width: 50%; /* Cambiado para que el contenedor sea del 100% del ancho */ /* Ancho máximo para evitar que sea demasiado ancho en pantallas grandes */
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
}

.formulario {
    width: 100%;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: justify;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    font-weight: 800;
}

.formInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
}

.primaryButton {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #4ac3de;
    color: white;
    border: 1px solid #ced4da;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.primaryButton:hover {
    background-color: #2099b4;
}

.secondaryButton {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #a1b1b5;
    color: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.secondaryButton:hover {
    background-color: #666e70;
    color: white;
}


.errorInput {
    color: red;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
}

.navbar {
    background-color: #85B5C9;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.navbar-brand {
    font-size: 2rem;
    margin-left: 15px;
}

.navbar-links {
    display: flex;
    margin-right: 15px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-link:hover {
    text-decoration: underline;
}

.navbar-link.activo {
    color: #5e68ea;
    font-weight: 900;
}

.navbar-logout {
    margin-right: 15px;
}

.separador {
    flex-grow: 1;
    height: 0; 
}

.icono-cerrar-sesion {
    background-image: url('img/logout_black_24dp.svg');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;  
    width: 24px;
    height: 24px; 
    border: none;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: transparent;
    border-radius: 10px;
}

.icono-cerrar-sesion:hover {
    background-color: #5e68ea;
}
.mensaje-cerrar-sesion {
    display: none;
    float: left;
    color: #fff;
    padding: 4px 8px; 
    font-size: 14px; 
}

.icono-cerrar-sesion:hover + .mensaje-cerrar-sesion {
    display: block; 
}

.botonesLoginDiv {
    display: flex;
    justify-content: space-between;
}

.botonesLoginDiv > button {
    margin-left: 20px;
    margin-right: 20px;
}

/* Regla de medios para pantallas más grandes */
@media only screen and (max-width: 768px) {
    .container {
        width: 80%;
    }
}

/* Regla de medios para pantallas más grandes */
@media only screen and (min-width: 992px) {
    .container {
        width: 40% !important;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        width: 50% !important;
    }
}

@media only screen and (min-width: 1650px) {
    .container {
        width: 30% !important;
    }
}

@media only screen and (max-width: 660px) {
    .container {
        width: 95% !important;
    }
}

/* Interpetación */
.interpretacion {
    margin: 0 auto;
    top: 50%;
    left: 50%;
    background-color: darkgray;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 80%;
}

.headerIntertretacion {
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-bottom: 10px;
    border-radius: 10px;
}

.headerIntertretacion h2 {
    margin: 0;
    display: flex;
    font-size: 1.2em;
    color: black;
    justify-content: center;
}

.cuerpoInterpretacion{
    padding: 10px;
    text-align: justify;
}

.headerIntertretacion .cerrarInterpretacion {
    cursor: pointer;
    color: black;
    font-size: 1.2em;
}

.headerIntertretacion .cerrarInterpretacion:hover {
    color: #f00;
}

#mostrarImc,
#cajaInterpretacion {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

#mostrarImc {
    font-weight: bold;
}

/* Regla de medios para pantallas más pequeñas */
@media only screen and (max-width: 600px) {
    .interpretacion {
        max-width: 90%;
    }
}

.fondoVerde{
    background-color: green;
}

.fondoAzul{
    background-color: blue;
}

.fondoNaranja{
    background-color: orange;
}

.fondoRojo{
    background-color: red;
}

.fondoRosado{
    background-color: pink;
}

.fondoMorado{
    background-color: blueviolet;
}

.sinFondo{
    background-color: darkgray;
}

#tablaIMC {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

#tablaIMC caption {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#tablaIMC th,
#tablaIMC td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

#tablaIMC th {
    background-color: #007bff;
    color: white;
}

#tablaIMC tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
